{% extends 'metricsapp/base.html' %}

{% load bootstrap3 %}
{% load neo4jformat %}

{% block title %}

{% endblock %}

{% block content %}

<div class="well menu">
	<ul class="nav nav-pills">
		{% for sprint in sprint_list %}
			<li role="presentation" class="{% if current_sprint == sprint %}active{% endif %}"><a href="/sprint/{{ forloop.counter }}/team/{{ current_team.name }}">{{ sprint }}</a></li>
		{% endfor %}
	</ul>
</div>

<div class="well menu">
	<ul class="nav nav-pills">
		{% for team in team_list %}
			<li role="presentation" class="{% if current_team.name == team.name %}active{% endif %}"><a href="/sprint/{{ current_sprint_index }}/team/{{ team.name }}" {% if current_team.name == team.name %}style="background-color: {{ team.label_color }}"{% endif %}>{{ team.name }}</a></li>
		{% endfor %}
	</ul>
</div>

<div class="jumbotron" id="score_keeper">
	<h2><strong>ScrumLint score</strong> of <br><a href="https://github.com/hpi-swt2/event-und-raumplanung" target="_blank">event-und-raumplanung</a>:</h2>
	<div id="radar_container">
		<canvas id="radar" width="300px" height="300px"></canvas>
	</div>
	<h1>{{ current_sprint_score|floatformat:2 }}<small>/100</span></small></h1>
	<div>
		<canvas id="overall" width="100%" height="150px"></canvas>
	</div>
</div>

<div class="page-header">
	<h1>Details <small>How the score is calculated</a></small></h1>
</div>
{% if categories_list %}
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

		{% for container in categories_list|dictsort:"score" %}
			<h3>{{ container.categories.name }} <small>({{ container.score }})</small></h3>

			{% for metric in container.items|dictsort:"summary.score" %}
				<div class="panel panel-default">
					<div class="panel-heading {{ metric.summary.rating }}" role="tab" id="heading{{ container.categories.name|slugify }}{{ forloop.counter }}">
						<h4 class="panel-title">
							<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ container.categories.name|slugify }}{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ container.categories.name|slugify }}{{ forloop.counter }}">
								<span class="metric-score">{{ metric.summary.score|floatformat }}</span><small>/100</small> <span class="metric-name">{{ metric.obj.name }} <small>{{ metric.obj.description }}</small></span>
							</a>
						</h4>
					</div>
					<div id="collapse{{ container.categories.name|slugify }}{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ container.categories.name|slugify }}{{ forloop.counter }}">
						<div class="panel-body">
							<div class="well">{{ metric.obj.explanation }}</div>
							<table class="table">
								<tr>
									{% for header in metric.summary.data.columns %}
										<th>{{ header|un_underscore}}</th>
									{% endfor %}
								</tr>
								{% for row in metric.summary.data.rows %}
									<tr>
										{% for data in row %}
											<td>{{ data|format_commit }}</td>
										{% endfor %}
									</tr>
								{% empty %}
									<tr><td colspan="100%">Nothing was found. Good job!</td></tr>
								{% endfor %}
							</table>
							<p>Time since last update: {{ metric.obj.last_query|timesince }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endfor %}

	</div>
{% else %}
	<p>No metrics are available.</p>
{% endif %}

<script type="text/javascript">
	var line_data = {
		labels: {{ chart_overall_labels|safe }},
		datasets: [
			{
				label: "Overall score",
				fillColor: "rgba(151,151,151,0.2)",
				strokeColor: "{{ current_team.label_color }}",
				pointColor: "{{ current_team.label_color }}",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(151,187,205,1)",
				data: {{ chart_overall_data }}
			}
		]
	};

	var line_options = {
		bezierCurve : true,
		datasetFill : true,
		datasetStrokeWidth : 4,
		maintainAspectRatio: false,
		responsive: true
	}

	// Chart.defaults.global.responsive = true;
	// Get context with jQuery - using jQuery's .get() method.
	var line_ctx = $("#overall").get(0).getContext("2d");
	var myLineChart = new Chart(line_ctx).Line(line_data, line_options);

	var data = {
		labels: {{ chart_radar_labels|safe }},
		datasets: [
			{
				label: "Project score in detail",
				fillColor: "rgba(151,151,151,0.2)",
				strokeColor: "{{ current_team.label_color }}",
				pointColor: "{{ current_team.label_color }}",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(151,187,205,1)",
				data: {{ chart_radar_data }}
			}
		]
	};

	var radar_ctx = $("#radar").get(0).getContext("2d");
	var myRadarChart = new Chart(radar_ctx).Radar(data);
</script>

{% endblock %}{# content#}