{% extends 'metricsapp/base.html' %}

{% load bootstrap3 %}
{% load neo4jformat %}

{% block title %}
<div class="page-header">
	<h1>ScrumLint <small>Your project's score</a></small></h1>
</div>
{% endblock %}

{% block content %}

<div class="well">
	<ul class="nav nav-pills">
		{% for sprint in sprint_list %}
			<li role="presentation" class="{% if current_sprint == sprint %}active{% endif %}"><a href="/sprint/{{ forloop.counter }}">{{ sprint }}</a></li>
		{% endfor %}
	</ul>
</div>

<div class="jumbotron">
	<h2><strong>ScrumLint score</strong> of <a href="https://github.com/hpi-swt2/event-und-raumplanung" target="_blank">event-und-raumplanung</a>:</h2>
	<h1>{{ current_sprint_score|floatformat:2 }}<small>/100 <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></small></h1>
	<div>
		<canvas id="overall" width="100%" height="150px"></canvas>
	</div>
</div>

<div class="page-header">
	<h1>Details <small>How the score is calculated</a></small></h1>
</div>
{% if metrics_list %}
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

		{% for metric in metrics_list %}
			<div class="panel panel-default">
				<div class="panel-heading {{ metric.result.rating }}" role="tab" id="heading{{ forloop.counter }}">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
							<span class="metric-score">{{ metric.result.score|floatformat }}</span><small>/100</small> <span class="metric-name">{{ metric.obj.name }} <small>{{ metric.obj.description }}</small></span>
						</a>
					</h4>
				</div>
				<div id="collapse{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}">
					<div class="panel-body">
							<div class="well">{{ metric.obj.explanation }}</div>
							<table class="table">
								<tr>
									{% for header in metric.result.data.columns %}
										<th>{{ header|un_underscore}}</th>
									{% endfor %}
								</tr>
								{% for row in metric.result.data.rows %}
									<tr>
										{% for data in row %}
											<td>{{ data|format_commit }}</td>
										{% endfor %}
									</tr>
								{% endfor %}
							</table>
							<p>Time since last update: {{ metric.obj.last_query|timesince }}</p>
					</div>
				</div>
			</div>
		{% endfor %}

	</div>
{% else %}
	<p>No metrics are available.</p>
{% endif %}	  

<script type="text/javascript">
	var data = {
			labels: {{ chart_overall_labels|safe }},
			datasets: [
					{
							label: "Overall score",
							fillColor: "rgba(151,187,205,0.2)",
							strokeColor: "rgba(151,187,205,1)",
							pointColor: "rgba(151,187,205,1)",
							pointStrokeColor: "#fff",
							pointHighlightFill: "#fff",
							pointHighlightStroke: "rgba(151,187,205,1)",
							data: {{ chart_overall_data }}
					}
			]
	};

	var options = {
		bezierCurve : true,
		datasetFill : true,
		datasetStrokeWidth : 4,
		maintainAspectRatio: false,
	}

	Chart.defaults.global.responsive = true;
	// Get context with jQuery - using jQuery's .get() method.
	var ctx = $("#overall").get(0).getContext("2d");
	var myLineChart = new Chart(ctx).Line(data, options);
</script>

{% endblock %}{# content#}