/* Bootstrap overrides */
.well.menu {
    padding: 0px;
}

#accordion {
    margin-bottom: 50px;
}

.jumbotron {
    background-color: #fff;
}

/* Custom elements*/
#key {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

/* http://jsfiddle.net/panchroma/3gYa3/ */
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

/* metric scores*/
span.metric-score {
	font-weight: bold;
}

span.metric-name {
	margin-left: 10px;
}

/* Make the whole header clickable */
.panel-title a {
    display: block;
    padding: 10px 15px;
    margin: -10px -15px;
}

/* Color header according to score*/
.panel-heading.good{
	background-color: lightgreen;
}

.panel-heading.ok{
	/*background-color: lightblue;*/
}

.panel-heading.bad{
	background-color: lightpink;
}

.panel-heading.improvement{
    background-color: #FFD290;
}

/* Color trend arrows */
span.glyphicon-arrow-up {
	color: green;
}

/* Jumbotron needs to be positioned relative,
so that children can be position absolutely within it */
#score_keeper {
    position: relative;
}

/* Charts */

/* chart-containers are resposnible for the size of charts*/
#overall-chart-container {
    height: 200px;
}

.metric-chart-container {
    height: 150px;
}

canvas#overall {
    margin-top:15px;
}

#radar_container {
    position: absolute;
    top: 20px;
    right: 10%;
}