/* Bootstrap overrides */
/* Menus */
.well.menu {
    padding: 0px;
}

.float-left {
    float: left;
}

#compare-teams-btn {
    float: right;
    margin-top: 3px;
}

#sprint-nav {
    margin-top: 20px;
}

/* Main content */
#accordion {
    margin-bottom: 50px;
}

.jumbotron {
    background-color: #fff;
}

.metric-btn {
    float: right;
    margin-right: 5px;
}

/* Custom elements*/
#key {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
    text-align: center;
}

/* Stops non-floated divs with floating children from collapsing */
div.spacer {
    clear: both;
}

/* http://jsfiddle.net/panchroma/3gYa3/ */
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

/* metric scores*/
span.metric-score {
	font-weight: bold;
}

span.metric-name {
	margin-left: 10px;
}

/* Make the whole header clickable */
.panel-title a {
    display: block;
    padding: 10px 15px;
    margin: -10px -15px;
}

/* Color header according to score*/
/* http://www.perbang.dk/rgbgradient/ */
.panel-heading.score-100 {
    background-color: #72F372;
}

.panel-heading.score-90 {
    background-color: #95F16D;
}

.panel-heading.score-80 {
    background-color: #B8EF69;
}

.panel-heading.score-70 {
    background-color: #DBED65;
}

.panel-heading.score-60 {
    background-color: #FFEB61;
}

.panel-heading.score-50 {
    background-color: #FFCF56;
}

.panel-heading.score-40 {
    background-color: #FFB34C;
}

.panel-heading.score-30 {
	background-color: #FF9842;
}

.panel-heading.score-20 {
    background-color: #FF7C42;
}

.panel-heading.score-10 {
    background-color: #FF6142;
}

.panel-heading.score-0 {
    background-color: #FF4642;
}

/* Color trend arrows */
span.glyphicon-arrow-up {
	color: green;
}

/* Jumbotron needs to be positioned relative,
so that children can be position absolutely within it */
#score_keeper {
    position: relative;
}

/* Charts */

/* chart-containers are resposnible for the size of charts*/
#overall-chart-container {
    height: 200px;
}

.metric-chart-container {
    height: 150px;
}

canvas#overall {
    margin-top:15px;
}

#radar-container {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 20px;
    right: 10%;
}

/* Bootstrap multiselect*/
#team-select-container .btn-group {
    width: 88% !important;
}

#team-select-container {
    padding: 3px;
}